.info-box {
    z-index: 1;
    position: absolute;
    display: none;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 1px, rgba(0, 0, 0, 0.1) 0 1px 2px, rgba(0, 0, 0, 0.1) 0 2px 4px;
}

#info-box-university-text {
    text-align: center;
    margin: 10px;
}

.name-span {
    background-color: rgba(224, 255, 255, 0.6);
}

.name-span:hover {
    background-color: rgba(224, 255, 255, 1);
}



