.App {
  color: #303030;
  letter-spacing: 1px;
  font-family: sans-serif;
  background-color: white;
  width: 200px;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  padding: 5px;
}

.App-title {
  font-size: large;
  font-weight: bold;
}


